node_modules
stamp-bower
stamp-npm
*~
.*.sw?
bower_components/*
!bower_components/jquery
!bower_components/jquery.browser
!bower_components/L.GeoSearch
!bower_components/leaflet
!bower_components/Leaflet-MiniMap
!bower_components/leaflet-providers
!bower_components/Leaflet.awesome-markers
!bower_components/Leaflet.fullscreen
!bower_components/leaflet.locatecontrol
!bower_components/leaflet.markercluster
!bower_components/Leaflet.SimpleMarkers
!bower_components/Leaflet.Sleep
!bower_components/logging
!bower_components/patternslib
!bower_components/requirejs
!bower_components/requirejs-text
!bower_components/underscore
